<p>Admin::Genres#edit</p>
<%= form_with model: [:admin, @edit_genre] do |f| %>
  <%= f.label :ジャンル名 %>
  <%= f.text_field :name, autofocus: true, placeholder: 'ジャンル名' %>
  <%= f.submit '変更を保存', class: "btn btn-success" %>
<% end %>
